.homepage-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #eef2ff;
  background-color: var(--define-background-color);
  padding: 20px;
}

.homepage-card-left {
  display: flex;
  align-items: center;
  gap: 18px;
}
.homepage-background-card-icon {
  background-color: var(--define-opacity-color);
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-card-icon {
  width: 32px;
  height: 32px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--define-color);
}

.homepage-game-title {
  font-family: var(--font-rubik-bold);
  color: var(--define-title-color);
  font-size: 1.125em;
  display: flex;
  justify-content: space-between;
}
.homepage-game-subtitle {
  font-size: 0.813em;
  color: var(--define-subtitle-color);
}
.homepage-card-players {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--define-color);
  font-family: var(--font-rubik-semibold);
}

.homepage-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--define-color);
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.homepage-card-dot-before-player {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: var(--define-color);
}
